* {
  box-sizing: border-box;
}

:root {
  --text: #49473d;
  --text-muted: #7a7767;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --border-muted: #e5e4e7c4;
  --code-bg: #f4f3ec;
  --accent: #6d571a;
  --accent-bg: rgba(255, 213, 59, 0.1);
  --accent-border: rgba(255, 226, 59, 0.567);
  --shadow: rgba(0, 0, 0, 0.05) 0 5px 2px -1px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: Roboto, "Helvetica Neue", Arial, system-ui, sans-serif;
  --heading: var(--sans);
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  interpolate-size: allow-keywords;
  transition-behavior: allow-discrete;
  text-wrap: pretty;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f2e4d2;
    --text-h: #f3f4f6;
    --text-muted: #f4e299;
    --bg: #1d1b16;
    --border: #3a362e;
    --border-muted: #3a362e92;
    --code-bg: #28241f;
    --accent: #faa824;
    --accent-bg: rgba(252, 224, 132, 0.15);
    --accent-border: rgba(252, 216, 132, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 5px 7px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

b {
  font-weight: 600;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 16px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

button {
  font-family: var(--sans);
  font-size: 16px;
  color: inherit;
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-border);
  box-shadow: var(--shadow);
  transition:
    background-color 0.2s,
    border-color 0.2s;

  &:focus-visible {
    outline: 1px solid var(--accent);
    outline-offset: 1px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

@media print {
  #root {
    border: 0;
  }
}
